<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Digite o nome de 3 pessoas da sua família no formulário abaixo</h1>

<form action="/famnames" method="get">
    <label for="nome1">Nome 1:<input type="text" required name="n1"></label>
    <label for="nome2">Nome 2<input type="text" required name="n2"></label>
    <label for="nome3">Nome 3<input type="text" name="n3" required></label>
    <button type="submit">Enviar</button>

</form>

</body>
</html>